---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>


<header>
  <div class="container">
<!--     <h1>{{ site.title | default: site.github.repository_name }}</h1>
    <h2>{{ site.description | default: site.github.project_tagline }}</h2> -->

    <section id="downloads">
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
        <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
      {% endif %}
    </section>
  </div>
</header>



<div class="post">
  {{ content }}
</div>